@charset "UTF=8";
a {
    cursor: pointer;
}

a:hover {
    opacity: 0.7;
}

a,
p,
.copy,
.faq_container {
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    border-left: 8px solid #424344;
    padding-left: 8px;
}

ul {
    padding-inline-start: 0px;
}

.cl {
    color: #870000;
}


footer {
    background-color: #ea5413;
    color: #ffff;
    max-width: 2000px;
    margin: auto;
    font-size: 14px;
    .inr {
        padding: 50px 0;
        justify-content: space-between;
        .ft_right {
            display: flex;
            justify-content: flex-end;
            margin: auto;
            ul {
                display: flex;
                justify-content: flex-end;
                margin: auto;
                li {
                    margin-right: 40px;
                }
            }
        }
    }
    .copy {
        background-color: #000;
        text-align: center;
        padding: 20px;
        font-size: 12px;
    }
}



// PC
@media only screen and (min-width: 961px) {
    .sp {
        display: none;
    }
    .inr {
        position: relative;
        margin: auto;
        height: 100%;
        max-width: 960px;
    }
    .qa_inr{
        position: relative;
        margin: auto;
        height: 100%;
        max-width: 1050px;
    }
    .cv_area {
        position: absolute;
        bottom: 18%;
        margin: auto;
        right: 0;
    }
    .bg {
        margin: auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .multiple_plan{
            right: -10px;
            bottom: 130px;
    }
    .plan{
        .cv_area:nth-child(1){
            bottom: 115px;
            left: 40px;
        }
        .cv_area:nth-child(2){
            bottom: 115px;
            right: 40px;
        }
    }
    .sec1 {
        background-image: url(../images/pc/pc_01.png);
        height: 998px;
    }
    .sec2 {
        background-image: url(../images/pc/pc_02.png);
        height: 1395px;
        .shiny-btn{
            border-radius: 18px;
        }
        .cv_area:nth-child(1){
            top: 533px;
            right: -60px;
        }
        .cv_area:nth-child(2){
            top: 783px;
            right: -60px;
        }
        .cv_area:nth-child(3){
            top: 1063px;
            right: -60px;
        }
    }
    .sec3 {
        background-image: url(../images/pc/pc_03.png);
        height: 1107px;
        .shiny-btn{
            border-radius: 18px;
        }
        .cv_area{
            right: 20px;
        }
    }

    .sec4 {
        background-image: url(../images/pc/pc_04.png);
        height: 1072px;
        .shiny-btn{
            border-radius: 18px;
        }
        .cv_area{
            right: 56px;
            bottom: 180px;
        }
    }
    .sec5 {
        background-image: url(../images/pc/pc_05.png);
        height: 747px;
    }
    .sec6 {
        background-image: url(../images/pc/pc_06.png);
        height: 962px;
    }
    .sec7 {
        background-image: url(../images/pc/pc_07.png);
        height: 925px;
    }
    .sec8 {
        background-image: url(../images/pc/pc_08.png);
        height: 902px;
    }
    .sec9 {
        background-image: url(../images/pc/pc_09.png);
        height: 1238px;
    }
    .sec10 {
        background-image: url(../images/pc/pc_10.png);
        height: 420px;
    }
    .sec11 {
        background-image: url(../images/pc/pc_11.png);
        height: 1190px;
    }
    .sec12 {
        background-image: url(../images/pc/pc_12.png);
        height: 829px;
    }
    .sec13 {
        background-image: url(../images/pc/pc_13.png);
        height: 863px;
        .cv_area:nth-child(1),
        .cv_area:nth-child(2){
            bottom: 125px;
        }
    }
    .sec14 {
        background-image: url(../images/pc/pc_14.png);
        height: 875px;
        .cv_area:nth-child(1),
        .cv_area:nth-child(2){
            bottom: 155px;
        }
    }
    .sec15 {
        background-image: url(../images/pc/pc_15.png);
        height: 1284px;
    }
    .sec16 {
        background-image: url(../images/pc/pc_16.png);
        height: 945px;
        .cv_area:nth-child(1),
        .cv_area:nth-child(2){
            bottom: 125px;
        }
    }
    .sec17 {
        background-image: url(../images/pc/pc_17.png);
        height: 943px;
    }
    .sec18 {
        background-image: url(../images/pc/pc_18.png);
        height: 959px;
    }
    .sec19 {
        background-image: url(../images/pc/pc_19.png);
        height: 952px;
    }
    .sec20 {
        background-image: url(../images/pc/pc_20.png);
        height: 934px;
    }
    .sec21 {
        background-image: url(../images/pc/pc_21.png);
        height: 1043px;
        .cv_area:nth-child(1),
        .cv_area:nth-child(2){
            bottom: 185px;
        }
    }
    .sec22 {
        background-image: url(../images/pc/pc_22.png);
        height: 1587px;
        .multiple_plan{
            bottom: 140px;
        }
    }
    .sec23 {
        background-image: url(../images/pc/pc_23.png);
        height:648px;
    }
    .sec24 {
        background-image: url(../images/pc/pc_24.png);
        height: 681px;
    }
    .sec25 {
        background-image: url(../images/pc/pc_25.png);
        height: 683px;
    }
    .sec26 {
        background-image: url(../images/pc/pc_26.png);
        height: 688px;
    }
    .sec27 {
        background-image: url(../images/pc/pc_27.png);
        height: 689px;
    }
    .sec28 {
        background-image: url(../images/pc/pc_28.png);
        height: 586px;
    }
    .sec29 {
        background-image: url(../images/pc/pc_29.png);
        height: 909px;
    }
    .sec30 {
        background-image: url(../images/pc/pc_30.png);
        height: 1402px;
        .cv_area:nth-child(1),
        .cv_area:nth-child(2){
            bottom: 125px;
        }
    }
    .sec31 {
        background-image: url(../images/pc/pc_31.png);
        height: 1072px;
        .shiny-btn{
            border-radius: 40px;
        }
    }
    .sec32 {
        background-image: url(../images/pc/pc_32.png);
        height: 1328px;
    }
    .sec33 {
        background-image: url(../images/pc/pc_33.png);
        height: 1110px;
    }
    .sec34 {
        background-image: url(../images/pc/pc_34.png);
        height: 1744px;
    }
    .sec35 {
        background-image: url(../images/pc/pc_35.png);
        height: 725px;
        .cv_area{
            bottom: 12%;
            right: 3%;
        }
    }
    .sec36 {
        background-image: url(../images/pc/pc_36.png);
        height: 1754px;
    }
    .sec37 {
        // background-image: url(../images/pc/pc_37.png);
        height: 400px;
        .cv_area{
            bottom: 40%;
        }
    }
    .sec38 {
        background-image: url(../images/pc/pc_38.png);
        height: 598px;
        margin-bottom: 316px;
    }
}

// .fin-btn{
//     pointer-events: none;
//     position: relative;
//     .pc,.sp{
//         filter: invert(90%) sepia(70%) saturate(0%) hue-rotate(
//             143deg) brightness(101%) contrast(93%);
//     }
//     .fin_label{
//         position: absolute;
//         top: 0px;
//         right: 0px;
//     }
// }

// .fin-btn_top{
//     pointer-events: none;
//     position: relative;
//     .pc,.sp{
//         filter: invert(90%) sepia(70%) saturate(0%) hue-rotate(
//             143deg) brightness(101%) contrast(93%);
//     }
//         .fin_label{
//             position: absolute;
//             top:0;
//             right: 0;
//         }
// }

// .fin-btn_top2{
//     pointer-events: none;
//     position: relative;
//     .pc,.sp{
//         filter: invert(90%) sepia(70%) saturate(0%) hue-rotate(
//             143deg) brightness(101%) contrast(93%);
//     }
//         .fin_label{
//             position: absolute;
//             top:0;
//             right: 280px;
//         }
// }




// SP
@media only screen and (max-width: 960px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }

    .bg{
        position: relative;
    }

    .cv_area{
        position:absolute;
        margin: auto;
        right: 0;
        left: 0;
        img {
            margin: auto;
        }
    }

    .multiple_plan{
        position:absolute;
        bottom: 12.7%;
        .shiny-btn{
            width: 90%;
        }
    }
    .plan{
        .cv_area:nth-child(1){
            bottom: 26%;
        }
        .cv_area:nth-child(2){
            bottom: 15%;
        }
    }
    .sec2{
        .shiny-btn{
            border-radius: 50px;
        }
        .cv_area:nth-child(1){
            top: 39%;
        }
        .cv_area:nth-child(2){
            top: 65%;
        }
        .cv_area:nth-child(3){
            top: 91%;
        }
    }

    .sec3,
    .sec4{
        .shiny-btn{
            border-radius: 50px;
        }
        .cv_area{
            bottom: 3%;
        }
    }

    .sec13,.sec14{
        .plan{
            .cv_area:nth-child(1){
                bottom: 23%;
            }
            .cv_area:nth-child(2){
                bottom: 12%;
            }
        }
    }
    .sec16{
        .plan{
            .cv_area:nth-child(1){
                bottom: 21%;
            }
            .cv_area:nth-child(2){
                bottom: 11%;
            }
        }
    }

    .sec17, .sec18{
        .plan{
            .cv_area:nth-child(1){
                bottom: 22%;
            }
            .cv_area:nth-child(2){
                bottom: 12%;
            }
        }
    }

    .sec19{
        .plan{
            .cv_area:nth-child(1){
                bottom: 23%;
            }
            .cv_area:nth-child(2){
                bottom: 13%;
            }
        }
    }

    .sec20{
        .plan{
            .cv_area:nth-child(1){
                bottom: 23%;
            }
            .cv_area:nth-child(2){
                bottom: 13%;
            }
        }
    }
    .sec21{
        .plan{
            .cv_area:nth-child(1){
                bottom: 30%;
            }
            .cv_area:nth-child(2){
                bottom: 21%;
            }
        }
    }
    .sec22{
        .multiple_plan{
            bottom: 9.1%;
        }
    }

    .sec23{
        .plan{
            .cv_area:nth-child(1){
                bottom: 31%;
            }
            .cv_area:nth-child(2){
                bottom: 18%;
            }
        }
    }

    .sec24{
        .plan{
            .cv_area:nth-child(1){
                bottom: 28%;
            }
            .cv_area:nth-child(2){
                bottom: 15%;
            }
        }
    }

    .sec25{
        .plan{
            .cv_area:nth-child(1){
                bottom: 30%;
            }
            .cv_area:nth-child(2){
                bottom: 17%;
            }
        }
    }

    .sec26{
        .plan{
            .cv_area:nth-child(1){
                bottom: 30%;
            }
            .cv_area:nth-child(2){
                bottom: 18%;
            }
        }
    }

    .sec27{
        .plan{
            .cv_area:nth-child(1){
                bottom: 37%;
            }
            .cv_area:nth-child(2){
                bottom: 26%;
            }
        }
    }

    .sec30{
        .plan{
            .cv_area:nth-child(1){
                bottom: 53.4%;
            }
            .cv_area:nth-child(2){
                bottom: 3%;
            }
        }
    }
    .sec31{
        .cv_area{
            bottom: 3.3%;
        }
    }

    .qa_inr{
        position: absolute;
        bottom: 14%;
        width: 95%;
        margin: auto;
        left: 0;
        right: 0;
        .cv_area{
            position: static;
        }
    }
    .sec37{
        padding: 20% 0 ;
        .cv_area{
            bottom: 50%;
        }
    }

    .sec38{
        margin-bottom: 20%;
    }

    .shiny-btn,.fin-btn,.fin-btn_top,.fin-btn_top2 {
        width: 85%;
        margin: auto;
    }

    .fin-btn_top2 {
        .fin_label{
        right: 0;
        }
    }

    footer {
        p {
            text-align: center;
        }
        .inr {
            padding: 10% 3%;
            display: block;
            font-size: 3.5vw;
            .ft_left {
                .logo {
                    padding: 0 0 8% 0;
                    img {
                        width: 60%;
                        margin: auto;
                    }
                }
                .adress {
                    margin: 0 0 0 0;
                    padding-bottom: 8%;
                    line-height: 2em;
                    border-bottom: solid #fff 0.5px;
                }
            }
            .ft_right {
                margin: 0 0 0 0;
                ul {
                    padding: 10% 0 0;
                    display: block;
                    text-align: center;
                    li {
                        margin-right: auto;
                        padding-bottom: 12%;
                        font-size: 1em;
                    }
                    li:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        .copy {
            font-size: 1em;
        }
    }
}


.r_ttl{
    background-color: #91000f;
    color: #fff;
    text-align: center;
    max-width: 2000px;
    margin: auto;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 0.2rem;
    margin-bottom: 70px;
}

@media only screen and (max-width: 960px) {
    .r_ttl{
        padding: 10%;
        font-size: 8vw;
        margin-bottom: 10%;
    }
}


// カレンダー
.vnts-sp {
	display: none;
}


.vnts-pc{
    margin-bottom:100px;
}
/*カレンダー*/
table.vnts-cal {
	font-size: 0.8rem;
	width: 1200px;;
	margin: 0 auto;
	margin-bottom: 10px;
    margin-top: 30px;
	border-collapse: collapse;
}
table.vnts-cal th, table.vnts-cal td {
	border: solid 1px;
	padding: 10px;
}
table.vnts-cal th img {
	width: 120px;
	height: 50px;
}
th.cal-cat-title {
	background-color: #add8e6;
}
.holiday {
	color: #FF0004;
}
.vnts-c {
	background-color: #f5deb3;
}
h2.vnts-cal-tit {
	text-align: center;
	font-size: 1rem;
}
h1.vnts-cal-tit {
	text-align: center;
	font-size: 1.5rem;
	color: red;
}
.cal-ft-btn {
	text-align: center;
}
.buy-btn {
	margin: 0 auto;
	width: 400px;
	text-align: center;
	background-color: #b22222;
	padding: 10px 20px;
	color: #FFF;
	cursor: pointer;
	margin-bottom: 10px;
}
.buy-btn a {
	color: #FFF;
	text-decoration: none;
}
/*その他*/
.caution-txt {
	text-align: center;
	font-size: 0.8rem;
	padding-bottom: 10px;
}
.vnts-hr {
	margin-top: 20px;
	margin-bottom: 20px;
}
.red-midashi {
	color: red;
	font-size: 0.9rem;
    line-height: 2rem;
}
.vnts-sub-txt {
	text-align: center;
	font-size: 0.9rem;
    line-height: 2rem;
}

@media screen and (max-width: 640px) {
.vnts-pc {
	display: none;
}
.vnts-sp {
	display: block;
    margin-bottom: 10%;
}
/*カレンダー*/
table.vnts-cal {
	font-size: 0.8rem;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10px;
    margin-top: 20px;
	border-collapse: collapse;
}
table.vnts-cal th, table.vnts-cal td {
	border: solid 1px;
	padding: 10px;
}
table.vnts-cal th img {
	width: 120px;
	height: 50px;
}
/*table.vnts-cal tr {
            text-align: center;
        }*/
th.cal-cat-title {
	background-color: #add8e6;
}
.holiday {
	color: #FF0004;
}
.vnts-c {
	background-color: #f5deb3;
}
h2.vnts-cal-tit {
	text-align: center;
	font-size: 1rem;
}
h1.vnts-cal-tit {
	text-align: center;
	font-size: 1.5rem;
	color: red;
}
.cal-ft-btn {
	text-align: center;
}
.buy-btn {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	background-color: #b22222;
	padding: 10px 20px;
	color: #FFF;
	cursor: pointer;
	margin-bottom: 10px;
}
.buy-btn a {
	color: #FFF;
	text-decoration: none;
}
.buy-btn2 {
	margin: 0 auto;
	width: 80%;
	height: 50px;
	text-align: center;
	background-color: #b22222;
	color: #FFF;
	cursor: pointer;
	margin-bottom: 10px;
}
/*その他*/
.caution-txt {
	text-align: center;
	font-size: 0.8rem;
	padding-bottom: 10px;
}
.vnts-hr {
	margin-top: 20px;
	margin-bottom: 20px;
}
.red-midashi {
	color: red;
	font-size: 0.9rem;
}
.vnts-sub-txt {
	text-align: center;
	font-size: 0.9rem;
}
}